<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Utilities.ListenerTest"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/NewFolder/src/test/java/TestScripts/AlertsTest.java">
        <classes>
            <class name="TestScripts.FunctionalTests">
                <methods>
                    <include name="dataTable"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>